<p id="notice"><%= notice %></p>

<%= link_to 'New Blog', new_blog_path %>

<% @blogs.each do |blog| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= blog.title %></h3>
    </div>
    <div class="panel-body">
        <%= blog.content %><br />
        <em><%= blog.created_at %></em>
        <p><em>投稿者:<%= blog.user.username %></em></p>
    </div>
  </div>
<% end %>
