<div class="devise-wrap">
  <h2><%= t('edit') %></h2>

  <div class="fm-edit">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :name, t('name') %>
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'お名前を入力して下さい' %>
      </div>

      <% if @user.provider.empty? %>
        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'example@gmail.com' %>
        </div>
      <% end %>

<%
=begin
パスワードは非表示
%>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label :current_password, t('current_password') %>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: '現在のパスワードを入力して下さい' %>
        </div>
<%
=end
%>

      <div class="field form-group">
        <%= f.label :profile, '自己紹介' %>
        <%= f.text_area :profile, class: 'form-control', placeholder: '自己紹介を入力して下さい' %>
      </div>

      <div class="field form-group">
        <div class="h-mb10">
          <%= f.label :image, 'プロフィール画像' %>
        </div>
        <div class="h-mb10" id="js_upload_replace">
          <% if @user.image? %>
            <%= image_tag @user.image.thumb.url, class: 'img-thumbnail' %>
          <% else %>
            <%= profile_img(@user, { class: 'img-thumbnail' }) %>
          <% end %>
        </div>
        <%= f.file_field :image, id: 'js_upload_file' %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="field form-group">
        <%= f.submit t('update'), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="h-mb10">
      <%= link_to 'アカウント削除', user_registration_path(@user), { method: :delete, data: { confirm: '本当にアカウントを削除しますか？' }, class: 'btn btn-danger' } %>
    </div>

    <%= link_to t('戻る'), :back, class: 'btn btn-default' %>
  </div>
</div>
