<%= form_for([:taskline, task_comment], remote: true) do |f| %>
  <% if task_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_comment.errors.count, "error") %> prohibited this taskline_task_comment from being saved:</h2>

      <ul>
      <% task_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :task_id %>
    <%= f.submit %>
  </div>
<% end %>
