<div class="tasks-wrap">
  <h2 class="page-header">マイタスク</h2>

  <%= link_to 'タスク登録', new_user_task_path(@user), class: 'btn btn-primary h-mb15' %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><b>作成者</b></th>
      <th><b>題名</b></th>
      <th><b>内容</b></th>
      <th><b>期日</b></th>
      <th><b>担当者</b></th>
      <th><b>完了/未完了</b></th>
      <th><b>状態</b></th>
      <th><b>プロジェクト</b></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% unless @tasks.first.nil? %>
      <% @tasks.each do |task| %>
          <tr>
            <td><%= task.user.name %></td>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.deadline.strftime("%Y/%m/%d") %></td>
            <td><%= task.charge.name %></td>
            <td><%= if task.done? then '完了' else '未完了' end %></td>
            <td><%= if task.status == 1 then '対応中' elsif task.status == 0 then '未着手' end %></td>
            <%
              if task.project.nil?
                project_name = 'プロジェクト無し'
              else
                project_name = task.project.name
              end
            %>
            <td><%= project_name %></td>
            <td>
              <%= link_to '詳細', user_task_path(task.user, task) %> /
              <%= link_to '編集', edit_user_task_path(task.user, task) %> /
              <%= link_to '削除', user_task_path(task.user, task), method: :delete,
                            data: { confirm: '本当に削除しますか？',
                                    commit: '削除する',
                                    cancel: 'やめる'
                            }, title: 'タスクの削除確認'  %>
            </td>
          </tr>
      <% end %>
    <% else %>
        <tr>
          <td colspan="9">タスクが登録されていません</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
