<div class="projects-wrap">
  <h2 class="page-header">顧客一覧</h2>

  <div class="h-mb15">
    <%= link_to 'プロジェクト一覧に戻る', projects_path, class: 'btn btn-default' %>
  </div>

  <%= render 'form' %>

  <ul class="list-group">
    <% @customers.each do |customer| %>
      <li class="list-group-item">
        <div><b>顧客番号:</b> <%= customer.id %></div>
        <div><b>顧客名:</b> <%= customer.name %></div>
        <div>
          <%= link_to '編集', edit_customer_path(customer) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
