<div class="tasks-wrap">
  <h2 class="page-header">タスクライン</h2>

  <% if @feed_tasks.any? %>
    <div class="feedtask">
      <table>
        <tbody>
        <% @feed_tasks.each do |feedtask| %>
        <tr class="feedtask_list">
          <%= feedtask.title %>
          <%= feedtask.content %>
          <%= feedtask.user.name %>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div id="feedask_<%= feedtask.id %>">
      <%= render partial: 'taskline/task_comments/index', locals: { task_comments: feedtask.task_comments } %>
    </div>
    <%= render partial: 'taskline/task_comments/form', locals: { task_comment: feedtask.task_comments.build } %>
<% end %>
</div>
