<div class="tasks-wrap">
  <h2 class="page-header">タスクライン</h2>

  <% if @feed_tasks.count > 0 %>
      <div class="h-tac h-mt0 h-mb10">
        <%= paginate @feed_tasks %>
        <div>
          <%= page_entries_info @feed_tasks %>
        </div>
      </div>
  <% end %>

  <% if @feed_tasks.any? %>
    <div class="feedtask">
      <table>
        <tbody>
        <% @feed_tasks.each do |feedtask| %>
          <tr class="feedtask_list">
            <%= feedtask.title %>
            <%= feedtask.content %>
            <%= feedtask.user.name %>
          </tr>
          <div id="goodjob_<%= feedtask.id %>">
            <%= render partial: 'taskline/tasks/gjbcount', locals: { gdj_count: feedtask.goodjobs.sum(:number) } %>
          </div>
          <%= render partial: 'taskline/tasks/goodjob', locals: {goodjob: feedtask.goodjobs.build } %>

          <div id="feedask_<%= feedtask.id %>">
            <%= render partial: 'taskline/task_comments/index', locals: { task_comments: feedtask.task_comments } %>
          </div>
          <%= render partial: 'taskline/task_comments/form', locals: { task_comment: feedtask.task_comments.build(user_id: current_user.id) } %>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
      <div>タスクが見つかりませんでした</div>
  <% end %>

  <% if @feed_tasks.count > 0 %>
      <div class="h-tac h-mt0 h-mb10">
        <%= paginate @feed_tasks %>
        <div>
          <%= page_entries_info @feed_tasks %>
        </div>
      </div>
  <% end %>
</div>
