<%= form_for([@user, @submit_request]) do |f| %>
  <div class="form-group">
    <%= f.label :task_id, 'タスク題名' %><br />
    <% if params['action'] == 'edit' %>
      <%= @submit_request.task.title %>
    <% else %>
      <%= f.collection_select :task_id, @tasks, :id, :title %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :task_id, '担当者' %><br />
    <%= f.collection_select :charge_id, @users, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.text_area :message, placeholder: '依頼メッセージを入力してください', size: '50*100', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :status %>
    <%
      if params['action'] == 'edit'
        submit_str = '依頼を編集する'
      else
        submit_str = '依頼する'
      end
    %>
    <%= f.submit submit_str, class: 'btn btn-primary' %>
  </div>
<% end %>
