<% if submit_requests.present? %>
  <div>
    <%= submit_requests.count %>件
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <th>状態</th>
        <th>タスク題名</th>
        <th>依頼者</th>
        <th>担当者</th>
        <th>依頼日</th>
        <th>タスクの状態</th>
        <th></th>
      </thead>
      <tbody>
        <% submit_requests.each do |sr| %>
          <tr>
            <% if sr.status == 1 %>
              <td>未承認</td>
            <% elsif sr.status == 2 %>
              <td>承認済み</td>
            <% elsif sr.status == 8 %>
              <td>取消済</td>
            <% elsif sr.status == 9 %>
              <td>却下</td>
            <% end %>

            <td>
              <%= link_to sr.task.title, user_task_path(sr.task.user_id, sr.task) %>
            </td>

            <% if sr.user_id == current_user.id %>
              <td>(自分)</td>
            <% else %>
              <td><%= sr.user.name %></td>
            <% end %>

            <% if sr.charge_id == current_user.id %>
                <td>(自分)</td>
            <% else %>
                <td><%= sr.charger.name %></td>
            <% end %>

            <td><%= sr.created_at.strftime("%Y/%m/%d") %></td>

            <% if sr.task.done == true %>
              <td>完了</td>
            <% else %>
              <td>未完了</td>
            <% end %>
            <td>
              <%= link_to '詳細', submit_request_path(sr) %>
              <% unless sr.user_id == current_user.id %>
                / <%= link_to '承認', submit_request_approve_path(sr), remote: true %>
                / <%= link_to '却下', submit_request_unapprove_path(sr), remote: true %>
              <% else %>
                  <% unless sr.status == 1 %>
                    <% unless sr.status == 2 %>
                      / <%= link_to '編集', edit_submit_request_path(sr) %>
                    <% end %>
                      
                    / <%= link_to '取消', submit_request_reject_path(sr), data: sr.id, remote: true %>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
