<div class="projects-wrap">
  <h2 class="page-header">プロジェクト一覧</h2>

  <%= link_to 'プロジェクト作成', new_project_path, class: 'btn btn-default h-mb15' %>
  <%= link_to '顧客管理', customers_path, class: 'btn btn-default h-mb15' %>

  <div class="text-danger h-mb15">
    各プロジェクトの閲覧・操作は作成者およびメンバーのみ可能です
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><b>プロジェクト名</b></th>
      <th><b>作成者</b></th>
      <th><b>顧客名</b></th>
      <th class="h-tar"><b>閲覧・操作</b></th>
    </tr>
    </thead>

    <tbody>
    <% unless @projects.empty? %>
      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.user.name %></td>
            <%
              if project.customer_id.nil?
                customer_name = '顧客無し'
              else
                customer_name = project.customer.name
              end
            %>
            <td><%= customer_name %></td>
            <td class="h-tar">
              <% if project.members?(current_user) || project.manager?(current_user) %>
                <%= link_to '詳細', project_path(project) %> /
                <%= link_to '編集', edit_project_path(project) %> /
                <%= link_to '削除', project_path(project), method: :delete,
                              data: { confirm: '本当に削除しますか？',
                                      commit: '削除する',
                                      cancel: 'やめる'
                              }, title: 'プロジェクトの削除確認'  %>
              <% else %>
                閲覧権限がありません
              <% end %>
            </td>
          </tr>
      <% end %>
    <% else %>
        <tr>
          <td colspan="4">
            <div class="text-muted">プロジェクトが登録されていません</div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
