<p><%= t('hello') %> <%= @resource.email %></p>

<p><%= t('requested_change_password') %></p>

<p><%= link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('please_ignore_email') %></p>
<p><%= t('change_until_access') %></p>
