<!DOCTYPE html>
<html>
<head>
  <title>Dive into Code</title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('logo.png') %>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default h-mb0">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "achieve", root_path, { class: 'navbar-brand' } %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "ブログ", blogs_path %></li>
                <li><%= link_to "ユーザー", users_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'お問い合わせ', inquiry_index_path %></li>
              </ul>
            </li>
            <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
            <li><%= link_to t('edit'), edit_user_registration_path %></li>
          <% else %>
            <li><%= link_to t('login'), new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <% if notice %>
    <div class="js_alert alert alert-info" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="js_alert alert alert-danger" role="alert"><%= alert %></div>
  <% end %>

<%
=begin
%>
  <div id="js_loading" class="loading">
    <%= image_tag "loading.gif" %>
  </div>
<%
=end
%>
  <div id="js_loading_container" class="app-container">
    <%= yield %>
  </div>
</body>
</html>
