<!DOCTYPE html>
<html>
<head>
  <title>Dive into Code</title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('logo.png') %>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" charset="utf-8" src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="js_loading_container" class="l-app-container">
    <%= render partial: 'layouts/app_header' %>

    <%= render partial: 'layouts/app_notice' %>

    <div class="l-app-content">
      <%= yield %>
    </div>

    <%= render partial: 'layouts/app_footer' %>
  </div>
<%
=begin
ローディング画像
%>
<div id="js_loading" class="loading">
  <%= image_tag "loading.gif" %>
</div>
<%
=end
%>
</body>
</html>
